package {{.ModuleName}}

import (
	"github.com/gin-gonic/gin"
)

type Route struct {
	controller *Controller
}

func NewRoute(
	controller *Controller,
) *Route {
	return &Route{
		controller,
	}
}

func (uc *Route) ConnectRoute(
	rg *gin.RouterGroup,
	controller *Controller,
) {
	router := rg.Group("{{.ModuleName|plural}}")

	router.GET("", uc.controller.FindAll)
	router.POST("", uc.controller.Create)
	router.GET(":id", uc.controller.FindByID)
	router.PUT(":id", uc.controller.UpdateFull)
	router.PATCH(":id", uc.controller.UpdatePartial)
	router.DELETE(":id", uc.controller.Delete)
	// Add extra endpoints as needed
}
